/*.ax_default {*/


/*font-family:'ArialMT', 'Arial';*/


/*font-weight:400;*/


/*font-style:normal;*/


/*font-size:13px;*/


/*color:#333333;*/


/*text-align:center;*/


/*line-height:normal;*/


/*}*/
#__page0-cont .sapMOH {
    padding: 0.4rem;
}

#__header0-titlediv .sapMOHIcon .sapMImg {
    max-height: 3rem;
    max-width: 20rem;
}

#__header0-titlediv .sapMOHTitle {
    margin-top: 0.975rem;
    padding-left: 17rem;
    display: inline-block;
    position: relative;
}

.title {
    font-size: 25px;
    text-align: left;
    color: rgb(82, 0, 163);
}

.subtitle {
    font-size: 20px;
    text-align: left;
    color: rgb(82, 0, 163);
}

.label {
    border-width: 0px;
    /*position: absolute;*/
    left: 19px;
    top: 49px;
    /*width: 150px;*/
    height: 22px;
    font-size: 18px;
    color: rgb(112, 106, 106);
}

.value {
    border-width: 0px;
    /*position: absolute;*/
    left: 19px;
    top: 49px;
    width: 160px;
    height: 22px;
    font-size: 18px;
    color: rgb(102, 0, 255);
}

.sapUiPanelCont {
    border-top: 2px solid grey;
}


/*css for real time animating*/
#Canvas_Main--realchart--page-cont .sapMOH {
    padding: 2rem;
}

#Canvas_Main--realchart--page-cont text {
     fill: black;
    font-size: 0.7em;
}

#Canvas_Main--realchart--page-cont .axis {
    stroke-width: 1;
}

#Canvas_Main--realchart--page-cont .axis .tick line {
    stroke: grey;
    opacity: 0.2;
}

#Canvas_Main--realchart--page-cont .axis .tick text {
    fill: black;
    font-size: 0.7em;
}

#Canvas_Main--realchart--page-cont .axis .domain {
    fill: none;
    stroke: black;
}

#Canvas_Main--realchart--page-cont .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}

#__layout0 div .sapMLabel {
	font-size: 2rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

#__layout2 div .sapMLabel {
	font-size: 2rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

#__layout4 div .sapMLabel {
	font-size: 2rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

#__layout6 div .sapMLabel {
	font-size: 2rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

#__layout8 div .sapMLabel {
	font-size: 2rem;
	margin-left: 1rem;
	margin-top: 1rem;
}

.sapUiTableHdr {
    background-color: transparent;
    min-height: 1.5rem;
    margin-top: 0.825rem;
    margin-left: 0.825rem;
    margin-bottom: 0.125rem;
    height: auto;
}

/*css for predict animating*/
/*#Canvas_Main--predict--page-cont text {*/
/*     fill: red;*/
/*    font-size: 0.4em;*/
/*}*/

#Canvas_Main--predict--page-cont .sapMOH {
    padding: 2rem;
}

#Canvas_Main--predict--page-cont .legend text {
     fill: black;
    font-size: 0.7em;
}

#Canvas_Main--predict--page-cont .axis {
    stroke-width: 1;
}

#Canvas_Main--predict--page-cont .axis .tick line {
    stroke: grey;
    opacity: 0.2;
}

#Canvas_Main--predict--page-cont .axis .tick text {
    fill: black;
    font-size: 0.7em;
}

#Canvas_Main--predict--page-cont .axis .domain {
    fill: none;
    stroke: black;
}

#Canvas_Main--predict--page-cont .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}